@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

h2 {
    margin: 0;
    margin-top: 120px;
    font-family: 'Oswald';
    color: white;
    text-align: center;
    font-size: 40px;
}
hr {
    width: 95%;
    margin-left: 2.5%;
    height: 5px;
    background-color:white;
    margin-bottom: 20px;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 1px;
    background-color: #f2f2f2;
    grid-template-rows: 560px; 
    border-radius: 5px; 
    
}
  
.container > div {
    padding-top: 50px ;
    border-radius: 5px; 
    background-color: #1E0046;
    text-align: center;
    font-size: 30px;
    margin-left: 55px;
    padding-bottom: 10px;
}

.image {
    height: 380px;
    width: 300px;  
}

.overlay {
    border-radius: 10px; 
    margin-left: 5px;
    position: relative; 
    background: #000000; /* Black see-through */
    color: #ffffff; 
    width: 275px;
    transition: 0.5s;
    opacity:0;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image:hover .overlay {
    opacity: 0.5;
}

p{
    font-size: 24px;    
}